<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xtxk.cn.third.mapper.OilBuildInformationMapper">
    <resultMap id="BaseResultMap" type="com.xtxk.cn.third.entity.build.OilBuildInformation">
        <id column="build_id" property="BUILD_ID" jdbcType="VARCHAR"/>
        <result column="village_id" property="VILLAGE_ID" jdbcType="VARCHAR"/>
        <result column="build_code" property="BUILD_CODE" jdbcType="VARCHAR"/>
        <result column="build_name" property="BUILD_NAME" jdbcType="VARCHAR"/>
        <result column="prop_right_area" property="PROP_RIGHT_AREA" jdbcType="DECIMAL"/>
        <result column="build_up_area" property="BUILT_UP_AREA" jdbcType="DECIMAL"/>
        <result column="build_structure" property="BUILD_STRUCTURE" jdbcType="VARCHAR"/>
        <result column="build_type" property="BUILD_TYPE" jdbcType="VARCHAR"/>
        <result column="build_purpose" property="BUILD_PURPOSE" jdbcType="VARCHAR"/>
        <result column="build_source" property="BUILD_SOURCE" jdbcType="VARCHAR"/>
        <result column="unit_num" property="UNIT_NUM" jdbcType="DOUBLE"/>
        <result column="floor_num" property="FLOOR_NUM" jdbcType="DOUBLE"/>
        <result column="comple_date" property="COMPLE_DATE" jdbcType="TIMESTAMP"/>
        <result column="elevator_num" property="ELEVATOR_NUM" jdbcType="DOUBLE"/>
        <result column="garage_situa" property="GARAGE_SITUA" jdbcType="VARCHAR"/>
        <result column="basement_situa" property="BASEMENT_SITUA" jdbcType="VARCHAR"/>
        <result column="heating_control" property="HEATING_CONTROL" jdbcType="VARCHAR"/>
        <result column="function_match" property="FUNCTION_MATCH" jdbcType="VARCHAR"/>
        <result column="construc_invest" property="CONSTRUC_INVEST" jdbcType="VARCHAR"/>
        <result column="other_situat" property="OTHER_SITUAT" jdbcType="VARCHAR"/>
        <result column="current_state" property="CURRENT_STATE" jdbcType="VARCHAR"/>
        <result column="remarks" property="REMARKS" jdbcType="VARCHAR"/>
        <result column="data_region" property="DATA_REGION" jdbcType="VARCHAR"/>
        <result column="bsflag" property="BSFLAG" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    build_id, village_id, build_code, build_name, prop_right_area, build_up_area, build_structure,
    build_type, build_purpose, build_source, unit_num, floor_num, comple_date, elevator_num, 
    garage_situa, basement_situa, heating_control, function_match, construc_invest, other_situat, 
    current_state, remarks, data_region, bsflag
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from oil_build_information
        where build_id = #{BUILD_ID,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from oil_build_information
        where build_id = #{BUILD_ID,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.xtxk.cn.third.entity.build.OilBuildInformation">
        insert into oil_build_information
            (build_id, village_id, build_code,build_name, prop_right_area, build_up_area,
            build_structure, build_type, build_purpose,build_source, unit_num, floor_num,
            comple_date, elevator_num, garage_situa,basement_situa, heating_control, function_match,
            construc_invest, other_situat, current_state,remarks, data_region, bsflag)
        values (#{BUILD_ID,jdbcType=VARCHAR}, #{VILLAGE_ID,jdbcType=VARCHAR}, #{BUILD_CODE,jdbcType=VARCHAR},
                #{BUILD_NAME,jdbcType=VARCHAR}, #{PROP_RIGHT_AREA,jdbcType=DECIMAL}, #{BUILT_UP_AREA,jdbcType=DECIMAL},
                #{BUILD_STRUCTURE,jdbcType=VARCHAR}, #{BUILD_TYPE,jdbcType=VARCHAR}, #{BUILD_PURPOSE,jdbcType=VARCHAR},
                #{BUILD_SOURCE,jdbcType=VARCHAR}, #{UNIT_NUM,jdbcType=DOUBLE}, #{FLOOR_NUM,jdbcType=DOUBLE},
                #{COMPLE_DATE,jdbcType=TIMESTAMP}, #{ELEVATOR_NUM,jdbcType=DOUBLE}, #{GARAGE_SITUA,jdbcType=VARCHAR},
                #{BASEMENT_SITUA,jdbcType=VARCHAR}, #{HEATING_CONTROL,jdbcType=VARCHAR},
                #{FUNCTION_MATCH,jdbcType=VARCHAR},
                #{CONSTRUC_INVEST,jdbcType=VARCHAR}, #{OTHER_SITUAT,jdbcType=VARCHAR}, #{CURRENT_STATE,jdbcType=VARCHAR},
                #{REMARKS,jdbcType=VARCHAR}, #{DATA_REGION,jdbcType=VARCHAR}, #{BSFLAG,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.xtxk.cn.third.entity.build.OilBuildInformation">
        insert into oil_build_information
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="BUILD_ID != null">
                build_id,
            </if>
            <if test="VILLAGE_ID != null">
                village_id,
            </if>
            <if test="BUILD_CODE != null">
                build_code,
            </if>
            <if test="BUILD_NAME != null">
                build_name,
            </if>
            <if test="PROP_RIGHT_AREA != null">
                prop_right_area,
            </if>
            <if test="BUILT_UP_AREA != null">
                build_up_area,
            </if>
            <if test="BUILD_STRUCTURE != null">
                build_structure,
            </if>
            <if test="BUILD_TYPE != null">
                build_type,
            </if>
            <if test="BUILD_PURPOSE != null">
                build_purpose,
            </if>
            <if test="BUILD_SOURCE != null">
                build_source,
            </if>
            <if test="UNIT_NUM != null">
                unit_num,
            </if>
            <if test="FLOOR_NUM != null">
                floor_num,
            </if>
            <if test="COMPLE_DATE != null">
                comple_date,
            </if>
            <if test="ELEVATOR_NUM != null">
                elevator_num,
            </if>
            <if test="GARAGE_SITUA != null">
                garage_situa,
            </if>
            <if test="BASEMENT_SITUA != null">
                basement_situa,
            </if>
            <if test="HEATING_CONTROL != null">
                heating_control,
            </if>
            <if test="FUNCTION_MATCH != null">
                function_match,
            </if>
            <if test="CONSTRUC_INVEST != null">
                construc_invest,
            </if>
            <if test="OTHER_SITUAT != null">
                other_situat,
            </if>
            <if test="CURRENT_STATE != null">
                current_state,
            </if>
            <if test="REMARKS != null">
                remarks,
            </if>
            <if test="DATA_REGION != null">
                data_region,
            </if>
            <if test="BSFLAG != null">
                bsflag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="BUILD_ID != null">
                #{BUILD_ID,jdbcType=VARCHAR},
            </if>
            <if test="VILLAGE_ID != null">
                #{VILLAGE_ID,jdbcType=VARCHAR},
            </if>
            <if test="BUILD_CODE != null">
                #{BUILD_CODE,jdbcType=VARCHAR},
            </if>
            <if test="BUILD_NAME != null">
                #{BUILD_NAME,jdbcType=VARCHAR},
            </if>
            <if test="PROP_RIGHT_AREA != null">
                #{PROP_RIGHT_AREA,jdbcType=DECIMAL},
            </if>
            <if test="BUILT_UP_AREA != null">
                #{BUILT_UP_AREA,jdbcType=DECIMAL},
            </if>
            <if test="BUILD_STRUCTURE != null">
                #{BUILD_STRUCTURE,jdbcType=VARCHAR},
            </if>
            <if test="BUILD_TYPE != null">
                #{BUILD_TYPE,jdbcType=VARCHAR},
            </if>
            <if test="BUILD_PURPOSE != null">
                #{BUILD_PURPOSE,jdbcType=VARCHAR},
            </if>
            <if test="BUILD_SOURCE != null">
                #{BUILD_SOURCE,jdbcType=VARCHAR},
            </if>
            <if test="UNIT_NUM != null">
                #{UNIT_NUM,jdbcType=DOUBLE},
            </if>
            <if test="FLOOR_NUM != null">
                #{FLOOR_NUM,jdbcType=DOUBLE},
            </if>
            <if test="COMPLE_DATE != null">
                #{COMPLE_DATE,jdbcType=TIMESTAMP},
            </if>
            <if test="ELEVATOR_NUM != null">
                #{ELEVATOR_NUM,jdbcType=DOUBLE},
            </if>
            <if test="GARAGE_SITUA != null">
                #{GARAGE_SITUA,jdbcType=VARCHAR},
            </if>
            <if test="BASEMENT_SITUA != null">
                #{BASEMENT_SITUA,jdbcType=VARCHAR},
            </if>
            <if test="HEATING_CONTROL != null">
                #{HEATING_CONTROL,jdbcType=VARCHAR},
            </if>
            <if test="FUNCTION_MATCH != null">
                #{FUNCTION_MATCH,jdbcType=VARCHAR},
            </if>
            <if test="CONSTRUC_INVEST != null">
                #{CONSTRUC_INVEST,jdbcType=VARCHAR},
            </if>
            <if test="OTHER_SITUAT != null">
                #{OTHER_SITUAT,jdbcType=VARCHAR},
            </if>
            <if test="CURRENT_STATE != null">
                #{CURRENT_STATE,jdbcType=VARCHAR},
            </if>
            <if test="REMARKS != null">
                #{REMARKS,jdbcType=VARCHAR},
            </if>
            <if test="DATA_REGION != null">
                #{DATA_REGION,jdbcType=VARCHAR},
            </if>
            <if test="BSFLAG != null">
                #{BSFLAG,jdbcType=VARCHAR},
            </if>
        </trim>
        on duplicate key update
        village_id      = #{VILLAGE_ID,jdbcType=VARCHAR},
        build_code      = #{BUILD_CODE,jdbcType=VARCHAR},
        build_name      = #{BUILD_NAME,jdbcType=VARCHAR},
        prop_right_area = #{PROP_RIGHT_AREA,jdbcType=DECIMAL},
        build_up_area   = #{BUILT_UP_AREA,jdbcType=DECIMAL},
        build_structure = #{BUILD_STRUCTURE,jdbcType=VARCHAR},
        build_type      = #{BUILD_TYPE,jdbcType=VARCHAR},
        build_purpose   = #{BUILD_PURPOSE,jdbcType=VARCHAR},
        build_source    = #{BUILD_SOURCE,jdbcType=VARCHAR},
        unit_num        = #{UNIT_NUM,jdbcType=DOUBLE},
        floor_num       = #{FLOOR_NUM,jdbcType=DOUBLE},
        comple_date     = #{COMPLE_DATE,jdbcType=TIMESTAMP},
        elevator_num    = #{ELEVATOR_NUM,jdbcType=DOUBLE},
        garage_situa    = #{GARAGE_SITUA,jdbcType=VARCHAR},
        basement_situa  = #{BASEMENT_SITUA,jdbcType=VARCHAR},
        heating_control = #{HEATING_CONTROL,jdbcType=VARCHAR},
        function_match  = #{FUNCTION_MATCH,jdbcType=VARCHAR},
        construc_invest = #{CONSTRUC_INVEST,jdbcType=VARCHAR},
        other_situat    = #{OTHER_SITUAT,jdbcType=VARCHAR},
        current_state   = #{CURRENT_STATE,jdbcType=VARCHAR},
        remarks         = #{REMARKS,jdbcType=VARCHAR},
        data_region     = #{DATA_REGION,jdbcType=VARCHAR},
        bsflag          = #{BSFLAG,jdbcType=VARCHAR}
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.xtxk.cn.third.entity.build.OilBuildInformation">
        update oil_build_information
        <set>
            <if test="VILLAGE_ID != null">
                village_id = #{VILLAGE_ID,jdbcType=VARCHAR},
            </if>
            <if test="BUILD_CODE != null">
                build_code = #{BUILD_CODE,jdbcType=VARCHAR},
            </if>
            <if test="BUILD_NAME != null">
                build_name = #{BUILD_NAME,jdbcType=VARCHAR},
            </if>
            <if test="PROP_RIGHT_AREA != null">
                prop_right_area = #{PROP_RIGHT_AREA,jdbcType=DECIMAL},
            </if>
            <if test="BUILT_UP_AREA != null">
                build_up_area = #{BUILT_UP_AREA,jdbcType=DECIMAL},
            </if>
            <if test="BUILD_STRUCTURE != null">
                build_structure = #{BUILD_STRUCTURE,jdbcType=VARCHAR},
            </if>
            <if test="BUILD_TYPE != null">
                build_type = #{BUILD_TYPE,jdbcType=VARCHAR},
            </if>
            <if test="BUILD_PURPOSE != null">
                build_purpose = #{BUILD_PURPOSE,jdbcType=VARCHAR},
            </if>
            <if test="BUILD_SOURCE != null">
                build_source = #{BUILD_SOURCE,jdbcType=VARCHAR},
            </if>
            <if test="UNIT_NUM != null">
                unit_num = #{UNIT_NUM,jdbcType=DOUBLE},
            </if>
            <if test="FLOOR_NUM != null">
                floor_num = #{FLOOR_NUM,jdbcType=DOUBLE},
            </if>
            <if test="COMPLE_DATE != null">
                comple_date = #{COMPLE_DATE,jdbcType=TIMESTAMP},
            </if>
            <if test="ELEVATOR_NUM != null">
                elevator_num = #{ELEVATOR_NUM,jdbcType=DOUBLE},
            </if>
            <if test="GARAGE_SITUA != null">
                garage_situa = #{GARAGE_SITUA,jdbcType=VARCHAR},
            </if>
            <if test="BASEMENT_SITUA != null">
                basement_situa = #{BASEMENT_SITUA,jdbcType=VARCHAR},
            </if>
            <if test="HEATING_CONTROL != null">
                heating_control = #{HEATING_CONTROL,jdbcType=VARCHAR},
            </if>
            <if test="FUNCTION_MATCH != null">
                function_match = #{FUNCTION_MATCH,jdbcType=VARCHAR},
            </if>
            <if test="CONSTRUC_INVEST != null">
                construc_invest = #{CONSTRUC_INVEST,jdbcType=VARCHAR},
            </if>
            <if test="OTHER_SITUAT != null">
                other_situat = #{OTHER_SITUAT,jdbcType=VARCHAR},
            </if>
            <if test="CURRENT_STATE != null">
                current_state = #{CURRENT_STATE,jdbcType=VARCHAR},
            </if>
            <if test="REMARKS != null">
                remarks = #{REMARKS,jdbcType=VARCHAR},
            </if>
            <if test="DATA_REGION != null">
                data_region = #{DATA_REGION,jdbcType=VARCHAR},
            </if>
            <if test="BSFLAG != null">
                bsflag = #{BSFLAG,jdbcType=VARCHAR},
            </if>
        </set>
        where build_id = #{BUILD_ID,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.xtxk.cn.third.entity.build.OilBuildInformation">
        update oil_build_information
        set village_id      = #{VILLAGE_ID,jdbcType=VARCHAR},
            build_code      = #{BUILD_CODE,jdbcType=VARCHAR},
            build_name      = #{BUILD_NAME,jdbcType=VARCHAR},
            prop_right_area = #{PROP_RIGHT_AREA,jdbcType=DECIMAL},
            build_up_area   = #{BUILT_UP_AREA,jdbcType=DECIMAL},
            build_structure = #{BUILD_STRUCTURE,jdbcType=VARCHAR},
            build_type      = #{BUILD_TYPE,jdbcType=VARCHAR},
            build_purpose   = #{BUILD_PURPOSE,jdbcType=VARCHAR},
            build_source    = #{BUILD_SOURCE,jdbcType=VARCHAR},
            unit_num        = #{UNIT_NUM,jdbcType=DOUBLE},
            floor_num       = #{FLOOR_NUM,jdbcType=DOUBLE},
            comple_date     = #{COMPLE_DATE,jdbcType=TIMESTAMP},
            elevator_num    = #{ELEVATOR_NUM,jdbcType=DOUBLE},
            garage_situa    = #{GARAGE_SITUA,jdbcType=VARCHAR},
            basement_situa  = #{BASEMENT_SITUA,jdbcType=VARCHAR},
            heating_control = #{HEATING_CONTROL,jdbcType=VARCHAR},
            function_match  = #{FUNCTION_MATCH,jdbcType=VARCHAR},
            construc_invest = #{CONSTRUC_INVEST,jdbcType=VARCHAR},
            other_situat    = #{OTHER_SITUAT,jdbcType=VARCHAR},
            current_state   = #{CURRENT_STATE,jdbcType=VARCHAR},
            remarks         = #{REMARKS,jdbcType=VARCHAR},
            data_region     = #{DATA_REGION,jdbcType=VARCHAR},
            bsflag          = #{BSFLAG,jdbcType=VARCHAR}
        where build_id = #{BUILD_ID,jdbcType=VARCHAR}
    </update>

    <select id="selectList" resultType="com.xtxk.cn.third.entity.build.OilBuildInformation">
        select
            b.build_id      as BUILD_ID,
            b.build_type    as BUILD_TYPE,
            b.build_code    as BUILD_CODE,
            b.build_name    as BUILD_NAME,
            d.dic_name      as VILLAGE_ID,
            b.build_up_area as BUILT_UP_AREA,
            b.unit_num      as UNIT_NUM,
            b.floor_num     as FLOOR_NUM,
            b.bsflag        as bsflag
        from oil_build_information b
        left join type_dic_conver d
        on b.village_id = d.source_type
    </select>
</mapper>